{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "models" }}
{{ $pkg := base $.Config.Package }}
{{- with extend $ "Package" $pkg }}
        {{ template "header" . }}
{{- end }}

import (
	"time"

{{- range $n := filterModelNodes $.Nodes }}
	"github.com/valocode/bubbly/ent/{{ $n.Package }}"
{{- end }}

	schema "github.com/valocode/bubbly/ent/schema/types"
)

{{ range $n := filterModelNodes $.Nodes }}
    {{ $receiver := $n.Receiver }}
    
    type  {{ $n.Name }}ModelCreate struct {
        {{- range $f := fieldsModelCreate $n }}
        {{- $tag := fieldCreateTag $f }}
            {{ $f.StructField }} *{{ $f.Type }} `{{ $tag }}`
        {{- end }}
    }

    func New{{ $n.Name }}ModelCreate() *{{ $n.Name }}ModelCreate {
        return &{{ $n.Name }}ModelCreate{}
    }

    func ({{ $receiver }} *{{ $n.Name }}ModelCreate) FromEnt(value *{{ $n.Name }}) *{{ $n.Name }}ModelCreate {
        {{- range $f := fieldsModelCreate $n }}
            {{ $receiver}}.{{ $f.StructField }} = &value.{{ $f.StructField }}
        {{- end }}
        return {{ $receiver }}
    }

    {{- range $f := fieldsModelCreate $n }}
        func ({{ $receiver }} *{{ $n.Name }}ModelCreate) Set{{ $f.StructField }}(value {{ $f.Type.String }}) *{{ $n.Name }}ModelCreate {
            {{ $receiver }}.{{ $f.StructField }} = &value
            return {{ $receiver }}
        }
    {{- end }}

    func ({{ $receiver }} *{{ $n.CreateName }}) SetModelCreate(model *{{ $n.Name }}ModelCreate) *{{ $n.CreateName }} {
        {{ $receiver }}.mutation.SetModelCreate(model)
        return {{ $receiver }}
    }

    func ({{ $receiver }} *{{ $n.UpdateOneName }}) SetModelCreate(model *{{ $n.Name }}ModelCreate) *{{ $n.UpdateOneName }} {
        {{ $receiver }}.mutation.SetModelCreate(model)
        return {{ $receiver }}
    }

    func ({{ $receiver }} *{{ $n.MutationName }}) SetModelCreate(model *{{ $n.Name }}ModelCreate) *{{ $n.MutationName }} {
        {{- range $f := fieldsModelCreate $n }}
            if model.{{ $f.StructField }} != nil {
                {{ $receiver }}.{{ $f.MutationSet }}(*model.{{ $f.StructField }})
            }
        {{- end }}
        return {{ $receiver }}
    }

    type  {{ $n.Name }}ModelRead struct {
        {{- range $f := fieldsModelRead $n }}
        {{- $tag := fieldCreateTag $f }}
            {{ $f.StructField }} *{{ $f.Type }} `{{ $tag }}`
        {{- end }}
    }

    func New{{ $n.Name }}ModelRead() *{{ $n.Name }}ModelRead {
        return &{{ $n.Name }}ModelRead{}
    }

    func ({{ $receiver }} *{{ $n.Name }}ModelRead) FromEnt(value *{{ $n.Name }}) *{{ $n.Name }}ModelRead {
        {{- range $f := fieldsModelRead $n }}
            {{ $receiver}}.{{ $f.StructField }} = &value.{{ $f.StructField }}
        {{- end }}
        return {{ $receiver }}
    }

    type  {{ $n.Name }}ModelUpdate struct {
        {{- range $f := fieldsModelCreate $n }}
        {{- $tag := fieldUpdateTag $f }}
            {{ $f.StructField }} *{{ $f.Type }} `{{ $tag }}`
        {{- end }}
    }

    func New{{ $n.Name }}ModelUpdate() *{{ $n.Name }}ModelUpdate {
        return &{{ $n.Name }}ModelUpdate{}
    }

    {{- range $f := fieldsModelCreate $n }}
        func ({{ $receiver }} *{{ $n.Name }}ModelUpdate) Set{{ $f.StructField }}(value {{ $f.Type.String }}) *{{ $n.Name }}ModelUpdate {
            {{ $receiver }}.{{ $f.StructField }} = &value
            return {{ $receiver }}
        }
    {{- end }}


    func ({{ $receiver }} *{{ $n.UpdateOneName }}) SetModelUpdate(model *{{ $n.Name }}ModelUpdate) *{{ $n.UpdateOneName }} {
        {{ $receiver }}.mutation.SetModelUpdate(model)
        return {{ $receiver }}
    }

    func ({{ $receiver }} *{{ $n.MutationName }}) SetModelUpdate(model *{{ $n.Name }}ModelUpdate) *{{ $n.MutationName }} {
        {{- range $f := fieldsModelCreate $n }}
            if model.{{ $f.StructField }} != nil {
                {{ $receiver }}.{{ $f.MutationSet }}(*model.{{ $f.StructField }})
            }
        {{- end }}
        return {{ $receiver }}
    }
{{ end }}

{{ range $n := filterNodes $.Nodes }}
    {{ $receiver := $n.Receiver }}
    func ({{ $receiver }} *{{ $n.QueryName }}) WhereInput(input *{{ $n.Name}}WhereInput) *{{ $n.QueryName }} {
        if input != nil {
            input.Filter({{ $receiver }})
        }
        return {{ $receiver }}
    }
{{ end }}

{{ end }}